Makefile
/Makefile.am
Makefile.am.common
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
configure.ac
compile
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h*
*.pot
*.ami
*.m4
.dep
.deps
package/*.tar.bz2
agent-slp/doc/autodocs/*.html
agent-slp/doc/autodocs/*.png
agent-slp/doc/autodocs/*.js
agent-slp/doc/autodocs/*.css
agent-slp/doc/autodocs/*.tag
agent-slp/doc/autodocs/doxygen.*
doc/autodocs/*.html
agent-slp/src/.libs/
agent-slp/src/*.lo
agent-slp/src/*.la
testsuite/site.exp
testsuite/*.log
testsuite/*.sum
/.yardoc
/coverage
